{% extends "base.html" %}

{% block title %}Create Post{% endblock title %}

{% block body %}
<section class="container">
    <div class="row justify-content-around text-center fst-italic mt-4">
        <div class="col-sm-8">
            <h2 class="text-center">Create Your Blogs</h2>
        </div>
    </div>


    <div class="row justify-content-around  mt-3">
        <div class="col-sm-6">

            <form action="" method="POST" class="form-control text-white bg-black p-3 rounded shadow">
                {% csrf_token %}

                {{form.as_p}}

                <input type="submit" value="Submit" class="btn btn-success">

            </form>

        </div>
    </div>
</section>


<script>
    var name = "{{ user.id }}";
    document.getElementById("users_id").value = name;

</script>

{% endblock body %}